.hidden {
	display:none;
}

body {
	font-family: 'Fjalla One', Helvetica, sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #000;
	background-color: #fff;
}

#container {	
	width: 1447px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}



/*  HEADER =========================================================================*/



#header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	border-bottom: 2px solid #000;
}

#hLogo {
	margin: 10px 0px 10px 32px;
	display: block;
	width: 110px;	
	padding: 5px 5px 5px 5px;
	transition: all .15s ease-in-out;
}

#hLogo:hover {
	-webkit-transform: scale(1.03, 1.03);
	-moz-transform: scale(1.03, 1.03);
	background-color: #bcc783;
}

#mainNav {
	padding-top: 60px;
	margin-bottom: 20px;
}

#mainNav ul li {
	display: inline;
	margin-left: 100px;
	font-size: 30px;
}

#mainNav ul li a {
	letter-spacing: 2px;
	color: #000;
	transition: all .15s ease-in-out;
}

#mainNav ul li a:hover {
	font-weight: bold;
	color: #2db09d;
	border-bottom: 3px solid #081f11;
	padding-bottom: 5px;
}



/*  MAIN CONTENTS ==================================================================*/


/*HOMEPAGE =========================================================================*/

/*Promotion Section ======================*/

#promo {
	position: relative;
	width: 1447px;
	background-color: #091f16;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#promoTxt {
	position: absolute;
	background-color: #6f8208;
	display: flex;
	flex-direction: row;
	width: 400px;
	height: 700px;
	justify-content: flex-start;
	margin: 0 auto;
	margin-right: 350px;
}

#thickr {
	margin: 90px 0px 0px 30px;
	letter-spacing: -2px;
	font-size: 90px;
	color: #fff;	
}

#lawn {
	font-size: 90px;
	margin-left: 37px;
	letter-spacing: -1px;
	line-height: 0.7;
	color: #000;	
}

#bbm {
	font-size: 40px;
	margin: 35px 0px 0px 40px; 
	color: #fff;	
}

#promoTxt p {
	margin: 35px 0px 0px 40px;
	line-height: 1.6;
	font-size: 25px;
	width: 210px;
	color: #fff;
}

#explore {
	margin: 30px 0px 0px 40px;
	display: block;
	width: 150px;
	background-color: #fff;
	font-size: 23px;
	font-weight: bold;
	color: #000;
	text-align: center;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: all .2s ease-in-out;
}

#explore:hover {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
	background-color: #bbd04b;
	color: #000;
}

/* INTRODUCTION SECTION ======================*/

#intro {
	background-color: #2db09d;
	display: flex;
	flex-direction: row;
	width: 1447px;
	justify-content: center;
	margin: 0 auto;
}

#intro section {
	margin-left: 80px;
	margin-top: 100px;
	width: 320px;
}

#intro h2 {
	font-size: 30px;
	font-weight: bold;
	color: #081f11;
	margin-top: 20px;
	margin-bottom: 35px;
}

#intro p {
	line-height: 1.5;
	font-size: 19px;
}

.learn {
	margin: 40px 0px 120px 0px;
	display: block;
	width: 150px;
	background-color: #6f8208;
	color: #fff;
	text-align: center;
	font-size: 19px;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	transition: all .2s ease-in-out;
}

.learn:hover {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
	background-color: #bcc783;
	color: #000;
}

/* PROMOTION SECTION =========================*/

#product1 {
	display: flex;
	flex-direction: row;
	width: 1447px;
	justify-content: center;
	margin: 0 auto;
}

#pro1Img1 {
	width: 350px;
	height: 650px;
	line-height: 650px;
	text-align: center;
	font-size: 30px;
	margin: 200px 22px 22px 0px;
	border: 3px solid #2db09d;
}

#pro1Img2 {
	width: 350px;
	height: 350px;
	line-height: 350px;
	text-align: center;
	font-size: 30px;
	margin: 200px 0px 22px 22px;
	border: 3px solid #2db09d;
}

#p1h1 {
	margin: 22px 0px 0px 22px;
	letter-spacing: -1px;
	font-size: 35px;
	color: #000;	
}

#p1h2 {
	margin: 0px 0px 23px 22px;
	letter-spacing: -1px;
	font-size: 35px;
	color: #6f8208;
}

#product1 p {
	width: 350px;
	margin: 0px 0px 22px 22px;
	line-height: 1.5;
	font-size: 20px;
	color: #000;
}

#seemore1 {
	margin: 22px 0px 0px 22px;
	display: block;
	width: 150px;
	background-color: #6f8208;
	color: #fff;
	text-align: center;
	font-size: 19px;
	border-radius: 5px;
	padding-top: 13px;
	padding-bottom: 13px;
	transition: all .2s ease-in-out;
}

#seemore1:hover {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
	background-color: #bcc783;
	color: #000;
}
/*=======================================*/
#product2 {
	display: flex;
	flex-direction: row;
	width: 1447px;
	justify-content: center;
	margin: 0 auto;
}

#p2h1 {
	margin: 22px 22px 0px 0px;
	letter-spacing: -1px;
	font-size: 35px;
	color: #6f8208;	
}

#p2h2 {
	margin: 0px 22px 22px 0px;
	letter-spacing: -1px;
	font-size: 35px;
	color: #000;
}

#product2 p {
	width: 350px;
	margin: 0px 22px 23px 0px;
	line-height: 1.5;
	font-size: 20px;
	color: #000;
}

#pro2Img1 {
	width: 350px;
	height: 350px;
	line-height: 350px;
	text-align: center;
	font-size: 30px;
	margin: 200px 22px 22px 0px;
	border: 3px solid #2db09d;
}

#pro2Img2 {
	width: 350px;
	height: 650px;
	line-height: 650px;
	text-align: center;
	font-size: 30px;
	margin: 200px 0px 200px 22px;
	border: 3px solid #2db09d;
}

#seemore2 {
	margin: 22px 0px 200px 0px;
	display: block;
	width: 150px;
	background-color: #6f8208;
	color: #fff;
	text-align: center;
	font-size: 19px;
	border-radius: 5px;
	padding-top: 13px;
	padding-bottom: 13px;
	transition: all .2s ease-in-out;
}

#seemore2:hover {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
	background-color: #bcc783;
	color: #000;
}



/*  CONTACTUS PAGE =================================================================*/



#contact {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #a5dad2;
	width: 1200px;
	border: 5px solid #000;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 60px;
}

#contactForm {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: auto;
}

#contactForm h3 {
	margin: 120px 0px 22px 0px;
	letter-spacing: -1px;
	font-size: 35px;
	color: #000;	
}

#fname {
	margin-bottom: 20px;
	font-size: 16px;		
	border: 3px solid #2db09d;
	border-radius: 5px;
	width: 350px;
	padding: 10px 20px;
}

#fname:hover {
	border: 3px solid #000;
}

#lname {
	margin-bottom: 20px;
	font-size: 16px;		
	border: 3px solid #2db09d;
	border-radius: 5px;
	width: 350px;
	padding: 10px 20px;	
}

#lname:hover {
	border: 3px solid #000;
}

#email {
	margin-bottom: 20px;
	font-size: 16px;	
	border: 3px solid #2db09d;
	border-radius: 5px;
	width: 350px;
	padding: 10px 20px;	
}

#email:hover {
	border: 3px solid #000;
}

#pwd {
	margin-bottom: 20px;
	font-size: 16px;		
	border: 3px solid #2db09d;
	border-radius: 5px;
	width: 350px;
	padding: 10px 20px;	
}

#pwd:hover {
	border: 3px solid #000;
}

#phone {
	margin-bottom: 20px;
	font-size: 16px;
	border: 3px solid #2db09d;
	border-radius: 5px;
	width: 350px;
	padding: 10px 20px;	
}

#phone:hover {
	border: 3px solid #000;
}

#comments {
	margin-bottom: 20px;
	border: 3px solid #2db09d;
	border-radius: 5px;
	width: 350px;
	height: 300px;
	padding: 10px 20px;	
}

#comments:hover {
	border: 3px solid #000;
}

textarea {
	resize: none;
}

#submitBtn {
	margin: 0px 0px 120px 0px;
	display: block;
	width: 150px;
	background-color: #6f8208;
	color: #fff;
	text-align: center;
	font-size: 19px;
	font-weight: bold;
	border: 1px solid #6f8208;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	transition: all .2s ease-in-out;
}

#submitBtn:hover {
	border: 1px solid #bcc783;
	cursor: pointer;
	background-color: #bcc783;
	color: #000;
}
/*===================================*/
#googleMap {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
	margin-top: 120px;
	margin-bottom: 120px;
	height: 695px;
	border: 5px solid #2db09d;
	border-radius: 5px;
}



/* ABOUT US PAGE ===================================================================*/



#aHero {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 1447px;
	height: 700px;
	background-color: #091f16;
	margin: 0 auto;
}

#heroTxt {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#aboutH {
	margin: 100px 330px 0px 17px;
	color: #fff;
	font-size: 150px;
}

#usH {
	margin: 15px 330px 0px 0px;
	color: #fff;
	font-size: 350px;
	font-weight: bold;
}

/* ABOUT INTRODUCTION SECTION ===============*/

#aIntro {
	background-color: #2db09d;
	display: flex;
	flex-direction: row;
	width: 1447px;
	justify-content: center;
	margin: 0 auto;
}

#aIntro section {
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 80px;
}

#aIntro h3 {
	font-size: 65px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	margin: 30px 0px 50px 0px;
}

#aIntro p {
	text-align: justify;
	line-height: 1.6;
	font-size: 23px;
	width: 900px;
	margin: 0 auto;
	margin-bottom: 30px;
}

#aboutImg {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;	
	width: 1447px;
	height: 400px;
	background-color: #97c0ba;
	line-height: 400px;
	margin: 0 auto;
}

#aboutImg h2 {
	margin: 0 auto;
	font-size: 75px;
}

/* ABOUT SECTION ============================*/

#about1 {
	display: flex;
	flex-direction: row;
	width: 1447px;
	justify-content: center;
	margin: 0 auto;
}

#about1h {
	margin: 140px 22px 35px 0px;
	letter-spacing: -1px;
	font-size: 70px;
	font-weight: bold;
	color: #000;	
}

#about1 p {
	width: 400px;
	margin-right: 22px;
	line-height: 1.6;
	font-size: 20px;
	color: #54610c;
}

#about1Img {
	width: 400px;
	height: 420px;
	line-height: 420px;
	text-align: center;
	font-size: 30px;
	margin: 140px 0px 22px 22px;
	border: 3px solid #2db09d;
}
/*=======================================*/
#about2 {
	display: flex;
	flex-direction: row;
	width: 1447px;
	justify-content: center;
	margin: 0 auto;
}

#about2Img {
	width: 400px;
	height: 420px;
	line-height: 420px;
	text-align: center;
	font-size: 30px;
	margin: 140px 22px 140px 0px;
	border: 3px solid #2db09d;
}

#about2h {
	margin: 140px 0px 35px 22px;
	letter-spacing: -1px;
	font-size: 70px;
	font-weight: bold;
	color: #6f8208;	
}

#about2 p {
	width: 400px;
	margin: 0px 0px 0px 22px;
	line-height: 1.6;
	font-size: 20px;
	color: #000;
}



/* PROMOTIONS PAGE =================================================================*/



#pHero {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	/*border-bottom: 2px solid #000;*/
	width: 1447px;
	height: 700px;
	margin: 0 auto;
}

#pHeroImg {
	display: block;
	position: relative;
	width: 1447px;
	height: 700px;
}

#pHeroTxt{
	position: absolute;
	background-color: #2db09d;
	display: flex;
	flex-direction: row;
	width: 800px;
	height: 550px;
	justify-content: flex-start;
	margin: 0 auto;
	margin-top: 20px;
	margin-right: 30px;
}

#pHeroTxt p {
	margin: 150px 0px 5px 30px;
	line-height: 0.95;
	font-size: 150px;
	color: #fff;
}

#pHeroTxt h4 {
	font-size: 50px;
	margin-left: 37px;
	line-height: 0.7;
	color: #000;
}

#promoimg {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;	
	width: 1447px;
	height: 600px;
	line-height: 600px;
	background-color: #97c0ba;
	margin: 0 auto;
}

#promoimg h2 {
	margin: 0 auto;
	font-size: 75px;
}

#promos {
	display: flex;
	flex-direction: row;
	width: 1447px;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 140px;
}

#promosH1 {
	margin: 140px 22px 35px 0px;
	font-size: 70px;
	font-weight: bold;
	color: #000;	
}

#promosH2 {
	margin: 0px 22px 35px 0px;
	font-size: 70px;
	font-weight: bold;
	color: #000;
}

#promos p {
	width: 600px;
	margin: 0px 22px 35px 0px;
	line-height: 1.6;
	font-size: 20px;
	color: #54610c;
}

#promosImg {
	width: 600px;
	height: 690px;
	line-height: 690px;
	text-align: center;
	font-size: 30px;
	margin: 140px 0px 0px 22px;
	border: 3px solid #2db09d;
}

#svgIcons {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #2db09d;
}

#waic {
	margin: 0 auto;
	margin-top: 80px;
	font-size: 100px;
	font-weight: bold;
	color: #fff;
}

#wwiwt {
	margin: 0 auto;
	margin-top: 10px;
	font-size: 44px;
	color: #fff;
}

#icons {
	display: flex;
	flex-direction: row;
	width: 1447px;
	justify-content:flex-start;
}

#icons a {
	margin: 0 auto;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 60px;
	width: 320px;
	transition: all .15s ease-in-out;
}

#icons a:hover {
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
}

#brIcon {
	display: block;
	height: 275px;
	margin: 60px 0px 40px 22px;
	padding: 10px 10px 10px 10px;
	background-color: #2db09d;
	transition: all .15s ease-in-out;
}

#beIcon {
	display: block;
	margin: 60px 0px 40px 22px;
	padding: 10px 10px 10px 10px;
	background-color: #2db09d;
	transition: all .15s ease-in-out;
}

#deIcon {
	display: block;
	height: 280px;
	margin: 60px 0px 40px 0px;
	padding: 10px 10px 10px 10px;
	background-color: #2db09d;
	transition: all .15s ease-in-out;
}



/*  FOOTER =========================================================================*/



#footer {
	width: 1447px;
	background-color: #2db09d;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;	
}

#fLogo {
	display: block;
	width: 140px;
	margin: 60px 0px 40px 22px;
	padding: 10px 10px 10px 10px;
	background-color: #83c7bd;
	transition: all .15s ease-in-out;
}

#fLogo:hover {
    -webkit-transform: scale(1.03, 1.03);
    -moz-transform: scale(1.03, 1.03);
	cursor: pointer;
	background-color: #bcc783;
}

#footer p {
	text-align: justify;
	line-height: 1.8;
	letter-spacing: 1px;
	font-size: 24px;
	font-weight: bold;
	color: #000;
}

#mediaIcons {
	margin: 50px 0px 60px 0px;
}

#mediaIcons ul li {
	display: block;
	display: inline;
	margin-right: 20px;
}

#fb {
	display: block;
	background-color: #3b5998;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	border-radius: 20px;
	padding: 14px 25px 14px 25px;
	display: inline;
	transition: all .2s ease-in-out;
}

#fb:hover {
	background-color: #5e86d9;
	color: #000;
}

#in {
	display: block;
	background-color: #d53088;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	border-radius: 20px;
	padding: 14px 25px 14px 25px;
	display: inline;
	transition: all .2s ease-in-out;
}

#in:hover {
	background-color: #ef76b7;
	color: #000;
}

#tw {
	display: block;
	background-color: #1da1f2;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	border: 1px solid #000;
	border-radius: 20px;
	padding: 14px 25px 14px 25px;
	display: inline;
	transition: all .2s ease-in-out;
}

#tw:hover {
	background-color: #9dd2f3;
	border: 1px solid #9dd2f3;
	color: #000;
}

#footerNav {
	margin: 70px 0px 70px 0px;
}

#footerNav ul li a {
	display: block;
	background-color: #2db09d;
	color: #000;
	font-size: 40px;
	text-align: center;
	margin-top: 45px;
	border-radius: 20px;
	padding: 15px 25px 15px 25px;
	transition: all .2s ease-in-out;
}

#footerNav ul li a:hover {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);    
	background-color: #000;
	color: #2db09d;
}



/*  BOTTOM BAR ========================================================================*/



#bottomBr {
	margin: 0 auto;
	width: 1447px;
	height: 50px;
	line-height: 50px;
	background-color: #6f8208;
}

#bottomBr h2 {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	letter-spacing: 1px;
	margin-right: 20px;
	font-size: 14px;
	color: #fff;
}